.admin-password {
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Softer shadow */
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-top: 75px;
  
  
}

.admin-password h2 {
  margin-bottom: 20px;
  color: #003135; /* Dark teal */
}

.admin-password form {
  display: flex;
  flex-direction: column;
}

.admin-password input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s ease;
}

.admin-password input:focus {
  border-color: #0FA4AF; /* Teal border on focus */
}

.admin-password button {
  padding: 10px;
  background-color: #0FA4AF; /* Teal background */
  border: none;
  color: #ffffff; /* White text */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.admin-password button:hover {
  background-color: #024950; /* Darker teal on hover */
}

.admin-password button:active {
  transform: translateY(2px);
}

.admin-password .error {
  color: #964734; /* Error color */
  margin-top: 10px;
}